## config 파일 제외
config/

## 라이브러리 파일 제외
node_modules

## exclude img files
images/

## Dockerfile
Dockerfile

## start.sh
start.sh

## docker-compose
docker-compose/

## 기타 파일 제외
.vscode
package-lock.json
